@{
    ViewBag.Title = "About";
}

<h4 class="dark-heading">@ViewBag.Title Waffle Offer</h4>
<h5>@ViewBag.Message</h5> <!-- message text is in the Home controller -->

<p>Find something you like and make a trade with something you have.</p>

