@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title Waffle Offer</h2>
<h3>@ViewBag.Message</h3> <!-- message text is in the Home controller -->

<p>Find something you like and make a trade with something you have.</p>
