@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    (Address)<br />
    Phone: 541-555-5555<br />
    Email: 
    <!--One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100-->
</address>

<address>
    <strong>Support:</strong>   (email)<br />
    <strong>Marketing:</strong> (email)
</address>