@{
    ViewBag.Title = "Waffle Offer Home";
}

<div class="jumbotron">
    <h1>Waffle Offer</h1>
    <p class="lead">Sweet cocoa chocolate maple whipped brownie. </p>
    <p>Waffle sweet chocolate strawberries pumpkin stack sugar brownie warm maple maple.
    Warm sugar chocolate warm cream cream cake stack warm chocolate brownie maple cinnamon cream.
    Warm chocolate sweet.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Waffle</h2>
        <p>
            Melted strawberries brownie cinnamon sugar waffle butter. 
            Apple sweet pumpkin cocoa brownie. Sweet sweet whipped pumpkin.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Waffle Offer</h2>
        <p>
            Waffle cake maple stack waffle warm stack chocolate brownie. 
            Pumpkin cake maple cinnamon apple syrup waffle. Strawberries melted strawberries melted 
            cream pumpkin cinnamon cake maple maple sugar apple whipped whipped warm.
        </p>
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Waffle Stack</h2>
        <p>
            Stack cake syrup maple butter butter. Stack cinnamon brownie cocoa 
            cream whipped syrup strawberries maple syrup cream cream cream cinnamon maple. 
            Cocoa maple syrup whipped brownie syrup apple waffle melted cocoa butter stack pumpkin.
        </p>
    </div>
</div>