/* 
    Color Guide:
    Lighter grey --> #a5a5a5
    Darker grey --> #535353

    Gold --> #ffc90e
    Lighter gold --> #efe4b0
    Darker gold --> #f8b10e
*/

body {
    color: #535353;
    background-color: #fff;
}

/* Navbar Styles */
.navbar-default {
    background-color: #fff;
    border: solid #a5a5a5 2px;
    /*border: solid #535353 2px;*/
    color: #a5a5a5;
    /*color: #535353;*/
    padding: 0;
}

.navbar-default .navbar-brand {   
    border-left: solid #a5a5a5 2px;
    /*border-left: solid #535353 2px;*/
    /*border-right: solid #a5a5a5 2px;*/
    /*border-right: solid #535353 2px;*/
    color: #a5a5a5;
    /*color: #535353;*/
    font-size: 22px;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    /*color: #ffc90e;*/
    /*color: #535353;*/
    color: #a5a5a5;
}

.navbar-default .navbar-nav > li > a {
    color: #a5a5a5;
    /*color: #535353;*/
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #ffc90e;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #a5a5a5;
    /*background-color: #535353;*/
}
.custom-nav-item {
    border-right: solid #a5a5a5 2px;
    /*border-right: solid #535353 2px;*/
}
.custom-nav-item-right {
    border-left: solid #a5a5a5 2px;
    /*border-left: solid #535353 2px;*/
}
.custom-nav-item-both {
    border-left: solid #a5a5a5 2px;
    /*border-left: solid #535353 2px;*/
    border-right: solid #a5a5a5 2px;
    /*border-right: solid #a5a5a5 2px;*/
}
#landing-nav {
    font-weight: bold;
}

/* Heading Styles */
.light-heading {
    color: #a5a5a5;
    margin-top: 50px;
}
.dark-heading {
    color: #535353;
    margin-top: 50px;
}
.list-header {
    text-align: center;
}

/* Jumbotron Styles */
.jumbotron {
    background-color: #fff;
    /*border: solid #a5a5a5 2px;*/
    margin: 50px 0 0 0;
}
.jumbotron img {
    height: auto;
    margin: 0 auto;
    max-width: 100%;   
}

/* Additional Home Page Styles */
.landing-col {
    padding: 15px;
}

.landing-col h4 {
    /*color: #a5a5a5;*/
    color: #535353;
}

.landing-col p {
    font-size: 18px;
}

/* Footer Styles */
footer {   
    font-size: 12px;
}

footer ul li {
    margin: 0 0 5px 0;
}


footer a:hover, 
footer a:focus {
    color: #535353;
    text-decoration: underline;
}

footer a:visited {
    color: #535353;
    text-decoration: underline;
}

footer address {
    color: #a5a5a5;
    text-align: right;
}

/* Button Styles */
.btn-custom-submit {
    background-color: #fff;
    border: solid #ffc90e 2px;
    color: #f8b10e;
}
.btn-custom-submit:hover,
.btn-custom-submit:focus {
    background-color: #fff;
    color: #f8b10e;
}

.btn-custom-grey {
    background-color: #fff;
    border: solid #a5a5a5 2px;
    color: #535353;
}
.btn-custom-grey:hover,
.btn-custom-grey:focus {
    background-color: #fff;
    color: #535353;
}

.btn-group .dropdown-menu li a{
    background-color: #fff;
    color: #535353;
    font-size: 14px;
    font-weight: bold;
}

.btn-group .dropdown-menu li a:hover,
.btn-group .dropdown-menu li a:focus{
    background-color: #fff;
    color: #ffc90e;
}

/* Icon Styles */
.icon-link-light {
    color: #a5a5a5;
}
.icon-link-dark {
    color: #535353;
}
.icon-link-light:hover,
.icon-link-dark:hover,
.icon-link-light:focus,
.icon-link-dark:focus {
    color: #ffc90e;
}

.icon-warning:hover,
.icon-warning:focus {
    color:#e82722;
}

/* Text Classes */
.msg-label {
    font-weight: bold;
}

/* Image Styles */
.profile-pic {
    border: solid #a5a5a5 2px;
}
.profile-caption {
    font-size: 15px;
    text-align: center;
}



hr {
    /*border: solid 1px #cf4823;  //ColourLovers: tomorrow's dawn (brown) */
    /*border: solid 1px #822100;  //ColourLovers: Paranoid Glance (dk. brown) */
    border-color: rgba(130,33,0,.75); /* //ColourLovers: Paranoid Glance (dk. brown) */
}

.table tbody {
    border-top-color: rgba(207,72,35,.2);
}

.table tbody tr td {
    /*border-top: solid 1px rgba(130,33,0,.1);  //ColourLovers: Paranoid Glance (dk. brown) */
    border-top: solid 1px rgba(207,72,35,.2); /* //ColourLovers: tomorrow's dawn (brown) */
}



/* Other Typographical Styles*/
.copywrite {
    font-style: italic;
}
