@model WaffleOffer.Models.LoginViewModel

@{
    ViewBag.Title = "Login";
}

<h4 class="dark-heading">Login</h4>

@Html.ValidationSummary(true)

@using (Html.BeginForm())
{
    @Html.EditorForModel()
    <p>
        <button type="submit" class="btn btn-custom-submit">Log In</button>
    </p>
}

@Html.ActionLink("Register", "Register")
<hr />
