@model IEnumerable<WaffleOffer.Models.Trade>

@{
    ViewBag.Title = "Pending Trades";
}

<h4 class="dark-heading divider-new">Pending Trades</h4>

<table class="table">

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.Partial("CompactTrade", item)
        </td>
    </tr>
}

</table>
