@model IEnumerable<WaffleOffer.Models.Trade>

@{
    ViewBag.Title = "Trade Ratings";
}

<h4 class="dark-heading divider-new">Trade Ratings</h4>

<table class="table">

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.Partial("CompactTrade", item)
            </td>
        </tr>
    }

</table>

