@model IEnumerable<WaffleOffer.Models.Item>

@{
    ViewBag.Title = "Items";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4 class="dark-heading">Items</h4>

@Html.Partial("ItemList", Model)