@model IEnumerable<WaffleOffer.Models.Item>

@{
    ViewBag.Title = "Items Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Items Index</h2>


<p>
    @*@Html.ActionLink("Create New", "Create")*@

    @using (Html.BeginForm())
    {
        <p>
            Item Name: @Html.TextBox("searchStg") <input type="submit" value="Search" />
            @*<input type="reset" value="Clear" />*@
        </p>
    }
</p>

    @Html.Partial("ItemList", Model) <!-- Links to a partial view that holds the items table -->