@model WaffleOffer.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}

<h4 class="dark-heading">Change Password</h4>

@Html.ValidationSummary(true)

@using (Html.BeginForm())
{
    @Html.EditorForModel()
    <p>
        <button type="submit" class="btn btn-custom-submit">Change Password</button>
        @Html.ActionLink("Cancel", "Edit", new { user = User.Identity.Name }, new { @class = "btn btn-custom-grey" })
    </p>
}

